{% extends 'base.html.twig' %}

{% block title %}Quizz{% endblock %}

{% block body %}
    {#futur#}
    {% for theme in themes %}
        {{ theme.name }} <a href="{{ path('game', {'id_theme' : theme.id}) }}" class="btn btn-outline-primary">JOUER CE THEME</a>
    {% endfor %}


{% endblock %}

